:root {
    font-family: 'Rubik', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    --pri-1: #f7f7f7;
    --background: #242424;
  
    color-scheme: light dark;
    color: var(--pri-1);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --pri-1: #242427;
      --background: #f7f7f7;
      color: var(--pri-1);
      background-color: var(--background);
    }
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .fill {
    width: 100vw;
    height: 100vh;
  }